@import '../../../styles';

header {
  padding: 5px 25px;
  border-bottom: 2px solid $appBorder;
  display: flex;
  justify-content: space-between;
  background: $appWhite;
  .menu {
    display: flex;
    a.line {
      border-right: 1px solid $appGrey;
      padding-right: 20px;
      align-self: center;
    }
  }
  .notifications {
    display: flex;
    a {
      padding: 10px;
    }
  }
}
