.chart-container {
  padding: 0 25px;
  #chart {
    height: 350px;
  }
  .btn {
    color: #fff;
    cursor: auto;
    &.highs {
      margin: 0 10px 0 45%;
      background: brown;
    }
    &.lows {
      background: #39306f;;
    }
  }
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    .chart-info {
      display: flex;
      justify-content: center;
    }
  }
  button.switch-temp {
    cursor: pointer;
    margin: 20px 0 0 45%;
  }
}


